body{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}
p{
  margin: 0;
  padding: 0;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
  display: flex;
  gap: 12px;
  padding: 0;
  margin: 0;
}
a{
  list-style-type: none;
  color: #f9faf8;
  text-decoration: none;
}

/*header and footer*/
.header-out, .footer{
  background-color: #1f2937;
  color: #f9faf8;
}

/*footer*/
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
}

/*space around header content*/
.header-out{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*All content in header*/
.header-in{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 1000px;
}

/*Text and image in header*/
.header-content{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 42px;
}

/*Flex text in header*/
.header-content > div{
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

.header-content > div > h2{
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
  width: 300px;
}

.header-content > div > p{
  font-size: 18px;
  color: #e5e7eb;
  font-weight: lighter;
  margin-bottom: 12px;
}

/*Top bar with links and logo*/
.top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  margin-bottom: 72px;
}

/*Flexbox below header*/
.imgcontent{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 64px;
}

/*Images of capybaras*/
.capyimages{
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
  gap: 67px;
  align-items: center;
}

/*The quote flexbox*/
.quote{
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 48px;
}

/*Flex item box*/
.quote-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 1000px;
  padding: 100px;
}

/*Target child*/
.quote-box > h3{
  font-size: 24px;
}

.quote-box > p{
  font-size: 36px;
  font-weight: 400;
  font-style: italic;
  color: #1f2937;
}

/*The quoter*/
.name{
  display: flex;
  justify-content: end;
}

/*White space around actionbox*/
.action{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Content of the actionbox*/
.action-box{
  background-color: #3882f6;
  color: #f9faf8;
  width: 800px;
  padding: 40px 82px;
  margin: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  flex: 0 1 auto;
}

/*Images sizing of capybara images*/
.capy{
  width: 200px;
  height: 200px;
  border: 5px #3882f6 solid;
  border-radius: 16px;
}

/*Image sizing of rain forest img*/
.forest{
  width: 630px;
  height: 200px;
}

/*Sign up button styling*/
.signup{
  color: #f9faf8;
  background-color: #3882f6;
  width: 120px;
  height: 36px;
  border-radius: 6px;
  border-style: none;
  font-size: medium;
}

/*Targets button in action box*/
.signup.action{
  border-color: #f9faf8;
  border-style: solid;
}
